<main>
  <div class="title">
    <h1>Clients</h1>
  </div>
  <div class="container">
    @if(client){
    <form class="form">
      <div class="row">
        <div class="col-25">
          <label for="clientId">Id</label>
        </div>
        <div class="col-75">
          <input
            type="text"
            id="clientId"
            name="clientId"
            [(ngModel)]="this.id"
            value="{{ client.id }}"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="name">Name</label>
        </div>
        <div class="col-75">
          <input
            type="text"
            id="name"
            name="name"
            [(ngModel)]="this.name"
            value="{{ client.name }}"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="email">E-mail</label>
        </div>
        <div class="col-75">
          <input
            type="text"
            id="email"
            name="email"
            [(ngModel)]="this.email"
            value="{{ client.email }}"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="phone">Phone</label>
        </div>
        <div class="col-75">
          <input
            type="text"
            id="phone"
            name="phone"
            [(ngModel)]="this.phone"
            value="{{ client.phone }}"
          />
        </div>
      </div>
      <div class="buttons">
        <button id="update-client" class="button-option" (click)="updateClientData()">Update</button>
        <button (click)="deleteClient()" id="delete-client" class="button-option delete-button">Delete</button>
      </div>
    </form>
    } @else {
      <p>No Client selected</p>
    }
    <div class="buttons">
      <button (click)="scheduleClient()" id="delete-client" class="button-option delete-button">New Schedule</button>
    </div>
  </div>
</main>
