<main>
  <div class="title">
    <h1>Clients</h1>
  </div>
  <div class="container">
    <form class="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-25">
          <label for="clientId">Id</label>
        </div>
        <div class="col-75">
          <input
            type="text"
            id="clientId"
            name="clientId"
            [(ngModel)]="this.id"
            value="{{ client.id }}"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="name">Name</label>
        </div>
        <div class="col-75">
          <input
            type="text"
            id="name"
            name="name"
            [(ngModel)]="name"
            value="{{ client.name }}"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="email">E-mail</label>
        </div>
        <div class="col-75">
          <input
            type="text"
            id="email"
            name="email"
            [(ngModel)]="email"
            value="{{ client.email }}"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="phone">Phone</label>
        </div>
        <div class="col-75">
          <input
            type="text"
            id="phone"
            name="phone"
            [(ngModel)]="phone"
            value="{{ client.phone }}"
          />
        </div>
      </div>
      <div class="buttons">
        <button type="submit" id="save-client">Register</button>
      </div>
    </form>
  </div>
</main>
