<div class="tabs">
  <mat-tab-group>
    <mat-tab label="Barber">
      <ul>
        <li class="opening-time barber-list">
          <div class="text-list">
            <span class="material-symbols-outlined"> schedule </span>
            <p>8 AM - 9 PM</p>
          </div>
          <button name="edit" type="button" class="edit" onclick="editWorkingDays()">
            <span class="material-symbols-outlined"> edit </span>
          </button>
        </li>
        <li class="opening-days barber-list">
          <div class="text-list">
            <span class="material-symbols-outlined"> calendar_month </span>
            <p>Monday-Friday</p>
          </div>
          <button name="edit" type="button" class="edit">
            <span class="material-symbols-outlined"> edit </span>
          </button>
        </li>
        <li class="services barber-list">
          <div class="text-list">
            <span class="material-symbols-outlined"> content_cut </span>
            <p>Service, Service, Service, Service</p>
          </div>
          <button name="edit" type="button" class="edit" onclick="editClient(id)">
            <span class="material-symbols-outlined"> edit </span>
          </button>
        </li>
        <li>
          <ul class="service-details">
            <li class="service-detail">
              <div>
                <span class="material-symbols-outlined"> attach_money </span>
                <p>Service1</p>
              </div>
              <p>$8</p>
              <button name="edit" class="edit">
                <span class="material-symbols-outlined" onclick="editClient(id)"> edit </span>
              </button>
            </li>
            <li class="service-detail">
              <div>
                <span class="material-symbols-outlined"> attach_money </span>
                <p>Service1</p>
              </div>
              <p>$8</p>
              <button name="edit" class="edit" onclick="editClient(id)">
                <span class="material-symbols-outlined"> edit </span>
              </button>
            </li>
            <li class="service-detail">
              <div>
                <span class="material-symbols-outlined"> attach_money </span>
                <p>Service1</p>
              </div>
              <p>$8</p>
              <button name="edit" class="edit" onclick="editClient(id)">
                <span class="material-symbols-outlined"> edit </span>
              </button>
            </li>
          </ul>
        </li>
      </ul>
    </mat-tab>
    <mat-tab label="Clients">
      <ul>
        <li class="client-list">
          <a routerLink="/clients" class="client" id="add-client">
            <span class="material-symbols-outlined"> add_circle </span>
            <p>Add Client</p>
          </a>
        </li>
        <li class="client-list">
          <a class="client">
            <span class="material-symbols-outlined"> account_circle </span>
            <p>Client Name</p>
          </a>
        </li>
        <li class="client-list">
          <a class="client">
            <span class="material-symbols-outlined"> account_circle </span>
            <p>Client Name</p>
          </a>
        </li>
      </ul>
    </mat-tab>
  </mat-tab-group>
</div>
