<div class="tabs">
  <mat-tab-group>
  <mat-tab label="First"> barber </mat-tab>
  <mat-tab label="Second"> client </mat-tab>
</mat-tab-group>

  <div class="barber">
    <ol>
      <li class="opening-time">
        <img src="#" alt="clock-icon" />8 AM - 9 PM
        <button name="edit"><img src="#" alt="edit-icon" /></button>
      </li>
      <li class="opening-days">
        <img src="#" alt="calendar-icon" />Monday-Friday<button name="edit">
          <img src="#" alt="edit-icon" />
        </button>
      </li>
      <li class="services">
        Service, Service, Service, Service
        <button name="edit"><img src="#" alt="edit-icon" /></button>
      </li>
      <li class="service-details">
        <ul>
          <li>
            <p>Service1</p>
            <p>$8</p>
            <button name="edit"><img src="#" alt="edit-icon" /></button>
          </li>
          <li>
            <p>Service1</p>
            <p>$8</p>
            <button name="edit"><img src="#" alt="edit-icon" /></button>
          </li>
          <li>
            <p>Service1</p>
            <p>$8</p>
            <button name="edit"><img src="#" alt="edit-icon" /></button>
          </li>
        </ul>
      </li>
    </ol>
  </div>
  <div class="clients">
    <a href="#">All <img src="#" alt="icon" /></a>
    <ul>
      <li>
        <img src="#" alt="human-icon" />Client Name
        <a href="#"><img src="#" alt="points-icon" /></a>
      </li>
      <li>
        <img src="#" alt="human-icon" />Client Name
        <a href="#"><img src="#" alt="points-icon" /></a>
      </li>
      <li>
        <img src="#" alt="human-icon" />Client Name
        <a href="#"><img src="#" alt="points-icon" /></a>
      </li>
      <li>
        <img src="#" alt="human-icon" />Client Name
        <a href="#"><img src="#" alt="points-icon" /></a>
      </li>
    </ul>
  </div>
</div>
