main {
  margin: 10px;
}

.calendar-view {
  margin-top: 10px;
  padding: 5px;
  width: 99%;
  height: 80%;
}

.select-view {
  display: grid;
  grid-template-columns: 50% 50%;
}

.select-view h2 {
  font-size: 17px;
  align-self: baseline;
  font-weight: normal;
}

.select-view button {
  font-size: 14px;
  justify-content: end;
}

.card-calendar {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#calendar-view {
  justify-content: center;
}

#agenda-view{
  padding: 5px;
  overflow-y: auto;
}

@media screen and (min-width: 420px) {

  .card-calendar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
  }

  #calendar-view,
  #agenda-view {
    display: block;
    height: 100%;
  }

  .select-view{
    display: none;
  }

}
