<main>
  <div class="title">
    <h1>Schedule</h1>
  </div>
  <div class="container">
    <form class="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-75">
          <input type="text" id="clientId" name="clientId" value="{{ this.clientId }}" [(ngModel)]="this.clientId" />
        </div>
      </div>
      <div class="row">
        <div class="col-75">
          <label for="barber-service-id">Barber Service</label>
          <select id="barber-service-id" name="barber-service-id" [(ngModel)]="this.barberServiceId">
          @for(barberService of barberServices; track barberService.id){
            <option value="{{ barberService.id }}">{{ barberService.name }}</option>
          }
          </select>
        </div>
      </div>
      <div class="date-picker">
        <mat-form-field>
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="datepicker" [(ngModel)]="this.value" name="date-picker" />
          <mat-datepicker #datepicker />
          <mat-datepicker-toggle [for]="datepicker" matSuffix />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Time</mat-label>
          <input
            type = "time"
            matInput
            [matTimepicker]="timepicker"
            [(ngModel)]="this.value"
            [ngModelOptions]="{ updateOn: 'blur' }"
            name="timepicker"
          />
          <mat-timepicker #timepicker />
          <mat-timepicker-toggle [for]="timepicker" matSuffix />
        </mat-form-field>
      </div>
      <div class="status">
        <div class="row">
          <div class="col-25">
            <label for="status">Status</label>
          </div>
          <div class="col-75">
            <select id="status" name="status" [(ngModel)]="this.stat">
              @for (stat of status; track $index) {
                <option value="{{ stat }}">{{ stat }}</option>
              }
            </select>
          </div>
        </div>
      </div>
      <div class="buttons">
        <button type="submit" id="save-schedule">Save</button>
      </div>
    </form>
  </div>
</main>
