<div class="min-card">
  <h2>Next client</h2>
  <div class="next-schedule">
    <div class="next-schedule-data">
      <a href="client-page.html">
        <span class="material-symbols-outlined"> person </span>
        <p>Client Name</p>
      </a>
      <a href="#agenda-view">
        <span class="material-symbols-outlined"> calendar_today </span>
        <p>Mon, Aug 12</p>
      </a>
      <a href="#agenda-view">
        <span class="material-symbols-outlined"> schedule </span>
        <p>1 PM</p>
      </a>
    </div>
    <div class="options-schedule">
      <ul>
        <li class="schedule-bar">
          <a href="schedule-page.html">Reschedule </a>
        </li>
        <li class="schedule-bar">
          <a href="service-page.html">Add Service </a>
        </li>
        <li><a href="service-page.html">Add Note</a></li>
      </ul>
    </div>
  </div>
</div>
