:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid var(--cor-terciaria);
  border-radius: 5px;
  justify-content: space-around;
}

table {
  position: relative;
  table-layout: auto;
  padding: 10px;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  letter-spacing: 1px;
  overflow-y: auto;
  border: 1px solid var(--cor-terciaria);
}

th,
td {
  white-space: nowrap;
  padding: 8px;
  min-width: 50px;
  border: 1px solid var(--cor-terciaria);
}

th {
  text-align: center; /* Centraliza o texto no cabeçalho */
  font-weight: bold; /* Destaca o cabeçalho */
  border: 2px solid var(--cor-terciaria); /* Adiciona borda inferior */
}

.hour {
  min-height: 100px;
  padding: 8px 10px;
  font-weight: normal;
  color: var(--cor-letra2);
  font-size: 14px;
}

.event-details li {
  padding: 8px 8px;
  min-height: 70px;
}

.event-details li h4 {
  font-size: 14px;
  font-weight: normal;
}

.event-details li p {
  font-size: 14px;
  color: var(--cor-letra2);
  font-weight: normal;
}

.hour-bar {
  position: absolute;
  width: 30%;
  height: 0.12rem;
  z-index: 1;
  left: 32%;
  top: 37%;
  background-color: var(--cor-secundaria);
  border-radius: 8px;
}

.circle {
  position: absolute;
  left: 30%;
  top: 36.5%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--cor-secundaria);
  z-index: 3;
}
