<table>
  <tbody>
  @for (schedule of schedules; track schedule.id) {
    @for (hour of hours; track $index) {
        <tr [attr.id]="isCurrentHour(hour) ? 'timeNow' : ''">
          <th class="hour" scope="row">{{ hour }}:00</th>
          <td>
            <ol class="event-details">
              @if (schedule.date?.startsWith(hour.toString())) {
                <li>
                  <p>{{ schedule.clientName }} - {{ schedule.status }}</p>
                </li>
              } @else{
                <li></li>
              }
            </ol>
          </td>
        </tr>
    }
  } @empty{
    <p>No Schedule found</p>
    }
  </tbody>
</table>
